<h1 class="primary-title">Edit user profile</h1>
 <div class="theme pure-u-1 pure-u-md-3-4">


	<section>
		<form action="/users/:id" method="post">
		<input type="hidden" name="_method" value="put">

		  <div class="form">
		    <label for="name">Name:</label>
		    <input type="text" name="name" value="<%= @user.name %>">
	    </div>

		  <div class="form">
		    <label for="email">Email:</label>
		    <input type="text" name="email" value="<%= @user.email %>">
		  </div>

		  <div class="form">
		    <label for="password">Password:</label>
		    <input type="password" name="password" value="<%= @user.password %>">
		  </div>

		  <div class="form-submit">
		    <button type="submit">Submit</button>
		  </div>
		</form>
	</section>


