<main>
  <h2>Login</h2>
	<section>
		<form action="/sessions" method="post">
	 
		  <div class="form">
		    <label for="email">Email:</label>
		    <input type="text" name="email" placeholder= "Email">
		  </div>

		  <div class="form">
		    <label for="password">Password:</label>
		    <input type="text" name="password" placeholder= "Password">
		  </div>

		  <div class="form-submit">
		    <button type="submit">Submit</button>
		  </div>
		</form>
		</section>
</main>