<main>
<h2>Register as a new user</h2>

	<form action="/users" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder= "Name">

	  <div class="form">
	    <label for="email">Email:</label>
	    <input type="text" name="email" placeholder= "Email">
	  </div>

	  <div class="form">
	    <label for="password">Password:</label>
	    <input type="text" name="password" placeholder= "Password">
	  </div>

	  <div class="form-submit">
	    <button type="submit">Submit</button>
	  </div>
	</form>

</main>