<main>  
<h1>Profile</h1>

<section>
  <ul>
    <li><b>Name:</b> <%= @user.name %></li>
    <li><b>Email:</b> <%= @user.email %></li>
  </ul>
 </section>

 <section>
 	<h2>Statistics</h2>
 </section>
</main>