<h1 class="primary-title">Add A Card</h1>
  <div class="theme pure-u-1 pure-u-md-3-4">

    <section class="cluster">
      <header class="cluster-header">
      	<h2 class="theme-subhead">
					<% if params[:message] %>
					  <h4><%= params[:message] %></h4>
					<% end %>
				</h2>
			</header>
    </section>

<section>
	<div class="show-card-list">
	<% if @deck.cards %>
	<% @deck.cards.each do |card| %>
	<%= erb :"/decks/_cardList", locals: {new_card: card} %></div>
	<% end %>
	<% end %>
	<div class="new-items">
	
	</div>
</section>

<section>
	<div class="new-card"><%= erb :"/decks/_new"  %></div>
	<form action="/decks" method="get">
		<div class="form-submit">
	    <button type="submit">Save and Exit Deck Creation</button>
	  </div>
  </form>
</section>


