<h1 class="primary-title">Add A Card</h1>
  <div class="theme pure-u-1 pure-u-md-3-4">

    <section class="cluster">
      <header class="cluster-header">
      	<h2 class="theme-subhead">
					<% if params[:message] %>
					  <h4><%= params[:message] %></h4>
					<% end %>
				</h2>
			</header>
    </section>

<section>
	<form action=<%="/decks/#{@deck_id}/cards"%> method="post">
		<div class="form">
		  <label for="question">Question:</label>
		  <input type="text" name="question" placeholder="Ex: Disney Princesses">
	  </div>

	  <div class="form">
		  <label for="answer">Answer:</label>
		  <input type="text" name="answer" placeholder="Ex: Disney Princesses">
	  </div>

	  <div class="form-submit">
	    <button type="submit">Add this card</button>
	  </div>
	</form>

	<form action="/decks" method="get">
		<div class="form-submit">
	    <button type="submit">Save and Exit Deck Creation</button>
	  </div>
  </form>
</section>


