
<h2>Enter a title for your deck:</h2>

<form name="form-create-deck" action="/decks" method="post">

  <input type="text" name="title" placeholder="Ex: Disney Princesses">

  <button type="submit" value="Submit">

</form>
