<h1 class="primary-title">Enter a title for your deck:</h1>
  <div class="theme pure-u-1 pure-u-md-3-4">

	<section>
		<form action="/decks" method="post"> 
			<div class="form">
			  <label for="title">Title:</label>
			  <input type="text" name="title" placeholder="Ex: Disney Princesses">
		  </div>

		  <div class="form-submit">
		    <button type="submit">Submit</button>
		  </div>
		</form>
	</section>