<h1 class="primary-title">Welcome to PB&J's</h1>
  <div class="theme pure-u-1 pure-u-md-3-4">

    <div class="collections">

	    <section class="cluster">
	      <header class="cluster-header"> <h2 class="theme-subhead">some flashards for your viewing pleasure</h2></header>
	          <div class="cluster-description">
	            <div class="click_to">
				    <a href="/decks">Click to choose a deck and start playing</a>
				</div>
	          </div>
	    </section>
	  
	    <section class="cluster">
	    	<header class="cluster-header"> 
	        <h2 class="theme-subhead">For full features, login or sign up.
	        </h2>
	      </header>
					<div class="cluster-description">
	        <div class="click_to"> 
	        	<a href="/sessions/new"><b>Login</b></a> or
	        	<a href="/users/new"><b>Sign Up</b></a>
	      	</div>
	      </div>
	    </section>

    </div>  

