<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <!-- <link rel="stylesheet" href="/css/application.css"> -->
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/new.css">
    <link rel="stylesheet" href="/css/form.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<!-- <div id="main"> -->
<div id="wrapper">

<div id="top-bar">
  <div class="container clearfix">

    <div id="top-bar">
 
<!-- if logged in, show option to log out -->
<!-- left -->
<% if current_user %>
  <span class="logout">
    <form class="logout" action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit"><i class="fa fa-star"></i> Logout</button>
    </form>
  </span>
<% else %>
<!-- if not logged in, show option to log in -->
  <span class="login"><a href="/sessions/new">Login </a></span>
<% end %>

<!-- if logged in, show profile link -->
<!-- right -->
<% if current_user %>
  <span class="profile"><a href="/users/:id"><i class="fa fa-user"></i> Profile </a></span>
<% else %>

<!-- if not logged in, show option to register -->
  <span class="profile"><a href="/users/new"><i class="fa fa-user-plus"></i> Sign Up</a></span>
<% end %>
  </div>
  </div>
</div> 
<!-- end top bar -->

<header>
  <img class="responsive-img center" src="/imgs/hero.jpg">
</header>

<div class="container">
    <div id="nav-trigger">
      <span>Menu</span>
    </div>
      <nav id="nav-main">
        <ul>
          <li><a href="/"><span class="fa fa-home"></span> Home</a></li>
          <li><a href="/decks">All Decks</a></li>
          <li><a href="/decks/new">Create Deck</a></li>
        </ul>
      </nav>

    <nav id="nav-mobile"></nav>

  <%= yield %>
  </div>
<!-- </div> -->
  <footer>
    <p>Created by John, Joshua, Pamela, Noah & Jamie</p>
  </footer>
</body>
</html>
